<h1>Olá {{name}},</h1>
<p>Para confirmar seu email clique no botão abaixo</p>
<button
    style="border-radius: 10px; border: none; background: #0d6cd8; transition: all 0.5s;"
    onmouseover="this.style.background = '#0a4f9e'"
    onmouseout="this.style.background = '#0d6cd8'"
>
    <a 
        href='{{url}}'
        href="http://loclahost:3333" style="text-decoration: none; font-weight: bold; color: #fff;"
    >
        Confirmar
    </a>
</button>

<p>Se não foi você que pediu a confirmação de email apenas ignore.</p>